.aurora-bg {
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100vw; 
    height: 100vh;
    z-index: -1;
    overflow: hidden;
    background: var(--dark-bg);
}

.aurora-blob {
    position: absolute;
    border-radius: 50%;
    filter: blur(80px);
    opacity: 0.3;
    animation: blob 20s infinite alternate cubic-bezier(0.4, 0, 0.2, 1);
}

.aurora-blob.blue {
    background: var(--aurora-color-1);
    width: 600px;
    height: 600px;
    top: -100px;
    left: -100px;
}

.aurora-blob.cyan {
    background: var(--aurora-color-2);
    width: 500px;
    height: 500px;
    bottom: 0;
    right: 0;
    animation-delay: -5s;
}

@keyframes blob {
    0% { transform: translate(0px, 0px) scale(1); }
    33% { transform: translate(30px, -50px) scale(1.1); }
    66% { transform: translate(-20px, 20px) scale(0.9); }
    100% { transform: translate(0px, 0px) scale(1); }
}

